<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>Specify OAuth Service/Resource Provider</display-name>

  <listener>
    <listener-class>org.filteredpush.specify.web.HibernateListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>RequestTokenServlet</servlet-name>
    <servlet-class>net.oauth.example.provider.servlets.RequestTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthorizationServlet</servlet-name>
    <servlet-class>org.filteredpush.oauth.web.SpecifyAuthorizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>net.oauth.example.provider.servlets.AccessTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EchoServlet</servlet-name>
    <servlet-class>net.oauth.example.provider.servlets.EchoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.GetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>org.filteredpush.specify.web.RemoveServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RequestTokenServlet</servlet-name>
    <url-pattern>/request_token</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/authorize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/access_token</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EchoServlet</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>